:root {
  /* Colors */
  /* Pink */
  --pink-100: #FFF1F3;
  --pink-200: #FFCED6;
  --pink-300: #FFA9BA;
  --pink-400: #FF809D;
  --pink-500: #F75482;
  --pink-600: #DE376C;
  --pink-700: #C40055;
  --pink-800: #90003D;
  --pink-900: #5E0025;
  --pink-1000: #350011;

  /* Blue */
  --blue-100: #F6FBFF;
  --blue-200: #DAF0FE;
  --blue-300: #9DD4F6;
  --blue-400: #4E98C7;
  --blue-500: #02526A;
  --blue-600: #0C3D4C;
  --blue-700: #032630;
  --blue-800: #032630;
  --blue-900: #032630;
  --blue-1000: #032630;

  /* Yellow */
  --yellow-100: #FFFBEE;
  --yellow-200: #FFF6D7;
  --yellow-300: #FFE9A0;
  --yellow-400: #FFD255;
  --yellow-500: #F8A916;
  --yellow-600: #CE720F;
  --yellow-700: #9F570A;
  --yellow-800: #9F570A;
  --yellow-900: #9F570A;
  --yellow-1000: #9F570A;

  /* Grey */
  --grey-100: #FDFDFC;
  --grey-200: #F3F3F3;
  --grey-300: #D5D5D5;
  --grey-400: #A6A6A6;
  --grey-500: #6D6D6D;
  --grey-600: #3D3D3D;
  --grey-700: #0C0C0C;
  --grey-800: #0C0C0C;
  --grey-900: #0C0C0C;
  --grey-1000: #0C0C0C;

  /* Green */
  --green-100: #E7FFDA;
  --green-200: #BFFCBA;
  --green-300: #8AE183;
  --green-400: #3AC330;
  --green-500: #0C8C02;
  --green-600: #0A6A03;
  --green-700: #064801;
  --green-700: #064801;
  --green-700: #064801;

  /* Red */
  --red-100: #FFE2E2;
  --red-200: #FFA2A2;
  --red-300: #FF4A4A;
  --red-400: #E50202;
  --red-500: #A30000;
  --red-600: #7E0000;
  --red-700: #550101;

  /* Sizes */
  /* Space */
  --space-50: 0.125rem;
  --space-100: 0.25rem;
  --space-150: 0.375rem;
  --space-200: 0.5rem;
  --space-300: 0.75rem;
  --space-400: 1rem;
  --space-450: 1.125rem;
  --space-600: 1.5rem;
  --space-700: 1.75rem;
  --space-800: 2rem;
  --space-900: 2.25rem;
  --space-1000: 2.5rem;
  --space-1200: 3rem;
  --space-1600: 4rem;
  --space-2400: 6rem;
  --space-4000: 10rem;

  /* Radius */
  --radius-100: 0.25rem;
  --radius-200: 0.5rem;
  --radius-300: 1rem;
  --radius-400: 1.5rem;
  --radius-500: 2rem;
  --radius-600: 2.5rem;
  --radius-9999: 999rem;

  /* Typography */
  /* Font */
  --font-gotham: "Gotham", sans-serif;
  --font-cal-sans: "Cal Sans", sans-serif;
  --font-comfortaa: "Comfortaa", sans-serif;
  --font-opendyslexic: "OpenDyslexic", sans-serif;
}

[data-theme="dark"] {

}