.card {
  position: relative;
  width: 21.875rem;
  height: 10.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-200);
}

.situation {
  background-color: var(--card-bg-situation);
  background-color: var(--blue-100);
}

.user {
  background-color: var(--card-bg-utilisateur);
  background-color: var(--pink-100);
}

.imageContainer {
  width: 7rem;
  height: 7rem;
}

.imageContainer > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.number {
  background-color: var(--white-1000);
  position: absolute;
  width: 2.188rem;
  height: 2.188rem;
  right: 15px;
  top: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
