.link {
  color: var(--link-default);
  text-decoration: underline;
  text-underline-offset: 3px;
  transition: text-underline-offset 0.2s ease-in,
    color 0.3s ease-in-out;
  &:hover {
    color: var(--link-hover);
    text-underline-offset: 6px;
  }
  &:active {
    color: var(--link-active);
  }
}
