.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-600);
}

.badge {
  position: relative;
  padding: var(--space-400) var(--space-800);
  border-radius: var(--radius-full);
  background: white;
  box-shadow: 0.25rem 0.25rem 0 0 var(--button-shadow-primary-default);
}

.team1 {
  border: 0.25rem solid var(--yellow-600);
  box-shadow: 0.25rem 0.25rem 0 0 var(--button-shadow-primary-default);
}

.team2 {
  border: 0.25rem solid var(--pink-500);
  box-shadow: 0.25rem 0.25rem 0 0 var(--button-shadow-primary-default);
}

.winner .crown {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 3.375rem;
  height: 100%;
  background: url('src/assets/images/crown.svg') no-repeat center / contain;
}

.label {
  text-align: center;
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
}

.score {
  display: flex;
  align-items: center;
  gap: var(--space-400);
}

.stars {
  width: 2.188rem;
  height: 2.188rem;
}
