.pageLogin {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-800);
}

.pageLoginHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--space-600);
}

.title {
  color: var(--blue-500);
}

.connectionForm {
  width: 20rem;
}

.submitButton {
  width: 100%;
  border-radius: 0;
}
