.login {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.login > div {
  display: grid;
  justify-content: center;
  align-content: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--space-600);
  background: linear-gradient(224deg, #6C00FF 23.64%, #56009D 101.21%);

  img {
    width: 15rem;
  }
}

.title {
  justify-content: center;
}

.connectionForm {
  width: 23rem;
}

.submitButton {
  margin-block-start: 1rem;
}

.forgotPassword {
  text-align: center;
}
