.cardAnswers {
  width: 560px;
  min-height: 700px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
  background-color: var(--blue-100);
  padding: var(--space-800) var(--space-800) var(--space-1200) var(--space-800);
  border-radius: var(--radius-200);
}

.filter {
  background-color: var(--black-300);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  &:hover {
    background-color: unset;
  }
}

.icon {
  border-radius: var(--radius-full);
}

.answersContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-600);
}

.teamName {
  text-align: center;
  font-family: var(--subtitle-font-family);
  font-size: var(--subtitle-size-base);
  font-weight: var(--subtitle-font-weight);
}

.team2 .teamName {
  color: var(--pink-600);
}
.teamName {
  text-align: center;
  font-family: var(--subtitle-font-family);
  font-size: var(--subtitle-size-base);
  font-weight: var(--subtitle-font-weight);
}

.team1 {
  border: solid var(--stroke-border-75) var(--pale-blue-600);
  box-shadow: inset 0 0 0 var(--pale-blue-600), 0.25rem 0.25rem 0 0
    var(--pale-blue-600);
}

.team2 {
  border: solid var(--stroke-border-75) var(--pink-600);
  box-shadow: inset 0 0 0 var(--pink-600), 0.25rem 0.25rem 0 0 var(--pink-600);
}

.votingButton {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: -10%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background-color: var(--pale-blue-100);
  padding: var(--space-300);
  border-radius: var(--radius-full);
}

.team1 .votingButton {
  border: solid var(--stroke-border-75) var(--pale-blue-600);
  box-shadow: inset 0 0 0 var(--pale-blue-600), 0.25rem 0.25rem 0 0
    var(--pale-blue-600);

  &:hover {
    .heart {
      color: var(--white-1000);
    }
    background-color: var(--pale-blue-600);
    box-shadow: unset;
  }

  &:active {
    .heart {
      color: var(--white-1000);
    }
    background-color: var(--pale-blue-600);
    box-shadow: unset;
  }
}

.team2 .heart {
  color: var(--pink-600);
}

.team2 .votingButton {
  border: solid var(--stroke-border-75) var(--pink-600);
  box-shadow: inset 0 0 0 var(--pink-600), 0.25rem 0.25rem 0 0 var(--pink-600);

  &:hover {
    .heart {
      color: var(--white-1000);
    }
    background-color: var(--pink-600);
    box-shadow: unset;
  }

  &:active {
    .heart {
      color: var(--white-1000);
    }
    background-color: var(--pink-600);
    box-shadow: unset;
  }
}
