.inputCheckboxes {
  display: flex;
  gap: var(--space-200);
  flex-direction: column;
  background-color: var(--blue-100);
  padding: var(--space-400);
  border-radius: var(--radius-200);
  border: var(--pale-blue-600) solid var(--stroke-border-50);
  box-shadow:
    inset 0 0 0 var(--pale-blue-600),
    0.25rem 0.25rem 0 0 var(--pale-blue-600);
}

.label {
  color: var(--input-field-contrast-default);
  font-family: var(--font-gotham);
  font-size: var(--body-size-medium);
  font-weight: var(--weight-medium);
}

.containerCheckboxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: var(--space-150);
  grid-row-gap: var(--space-150);
}
