.legal {
  display: flex;
  justify-content: center;
  padding: calc(var(--space-1600) * 2);
}

.legalContent {
  max-width: 56.25rem;
  display: flex;
  flex-direction: column;
  gap: var(--space-1200);
}

.titlePage {
  font-family: var(--title-page-font-family);
  font-size: var(--title-page-size-base);
  font-weight: var(--title-page-font-weight);
  color: var(--pale-blue-600);
}
