.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.fix {
  position: fixed;
}

.sticky {
  position: sticky;
}

.inset {
  inset: 0;
}

.top {
  top: 0;
}

.left {
  left: 0;
}

.bottom {
  bottom: 0;
}

.right {
  right: 0;
}

.f {
  display: flex;
}

.fw {
  flex-wrap: wrap;
}

.fc {
  flex-direction: column;
}

.x {
  width: 100%;
}

.y {
  height: 100%;
}

.ais {
  align-items: flex-start;
}

.aic {
  align-items: center;
}

.aie {
  align-items: flex-end;
}

.jcb {
  justify-content: space-between;
}

.jcc {
  justify-content: center;
}

.jca {
  justify-content: space-around;
}

.jce {
  justify-content: flex-end;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.oh {
  overflow: hidden;
}

.os {
  overflow: scroll;
}

.ttu {
  text-transform: uppercase;
}

.ttl {
  text-transform: lowercase;
}

.ttc {
  text-transform: capitalize;
}

.pointer {
  cursor: pointer;
}
