.button {
  color: var(--button-contrast-primary-default);
  background-color: var(--button-bg-primary-default);
  box-shadow:
    inset 0 0 0 var(--button-shadow-primary-default),
    0.25rem 0.25rem 0 0 var(--button-shadow-primary-default);
  font-family: var(--font-cal-sans);

  /* biome-ignore lint/correctness/noUnknownProperty: <explanation> */
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-200);
  padding: var(--space-300) var(--space-800);
  border-radius: var(--radius-200);
  transition: 180ms ease-out;
  transition-property: color, background-color, box-shadow;

  &:hover {
    color: var(--button-contrast-primary-hover);
    background-color: var(--button-bg-primary-hover);
    box-shadow: inset 0 0;
  }

  &:active {
    color: var(--button-contrast-primary-active);
    background-color: var(--button-bg-primary-active);
    box-shadow: inset 0 0 0 var(--stroke-border-75)
      var(--button-shadow-secondary-active);
    transition: 0;
  }

  &:disabled {
    color: var(--button-contrast-primary-disabled);
    background-color: var(--button-bg-primary-disabled);
    box-shadow: 4px 4px 0 0 var(--button-shadow-primary-disabled);
    cursor: not-allowed;
  }
}

.button.secondary {
  background-color: var(--button-bg-secondary-default);
  color: var(--button-contrast-secondary-default);
  box-shadow:
    inset 0 0 0 var(--button-shadow-secondary-default),
    0.25rem 0.25rem 0 0 var(--button-shadow-secondary-default);

  &:hover {
    background-color: var(--button-bg-secondary-hover);
    color: var(--button-contrast-secondary-hover);
    box-shadow: unset;
  }

  &:active {
    background-color: var(--button-bg-secondary-active);
    color: var(--button-contrast-secondary-active);
    box-shadow: inset 0 0 0 var(--stroke-border-75)
      var(--button-shadow-secondary-active);
  }

  &:disabled {
    color: var(--button-contrast-secondary-disabled);
    background-color: var(--button-bg-secondary-disabled);
    box-shadow:
      inset 0 0 0 var(--button-shadow-secondary-disabled),
      0.25rem 0.25rem 0 0 var(--button-shadow-secondary-disabled);
  }
}

.button.tertiary {
  background-color: var(--button-bg-tertiary-default);
  color: var(--button-contrast-tertiary-default);
  box-shadow:
    inset 0 0 0 var(--button-shadow-tertiary-default),
    0.25rem 0.25rem 0 0 var(--button-shadow-tertiary-default);

  &:hover {
    color: var(--button-contrast-tertiary-hover);
    box-shadow: unset;
  }

  &:active {
    color: var(--button-contrast-tertiary-active);
    box-shadow: inset 0 0 0 var(--stroke-border-75)
      var(--button-shadow-tertiary-active);
  }

  &:disabled {
    background-color: var(--button-bg-tertiary-disabled);
    color: var(--button-contrast-tertiary-disabled);
    box-shadow:
      inset 0 0 0 var(--button-shadow-tertiary-disabled),
      0.25rem 0.25rem 0 0 var(--button-shadow-tertiary-disabled);
  }
}

.button.icon {
  background-color: var(--button-bg-quaternary-default);
  color: var(--button-contrast-quaternary-default);
  box-shadow:
    inset 0 0 0 var(--button-shadow-quaternary-default),
    0.25rem 0.25rem 0 0 var(--button-shadow-quaternary-default);
  border: var(--stroke-border-75) var(--button-border-quaternary-active) solid;
  border-radius: var(--radius-full);

  &:hover {
    background-color: var(--button-bg-quaternary-hover);
    color: var(--button-contrast-quaternary-hover);
    box-shadow: unset;
  }

  &:active {
    background-color: var(--button-bg-quaternary-active);
    color: var(--button-contrast-quaternary-active);
    box-shadow: unset;
  }

  &:disabled {
    background-color: var(--button-bg-quaternary-disabled);
    color: var(--button-contrast-quaternary-disabled);
    box-shadow:
      inset 0 0 0 var(--button-shadow-quaternary-disabled),
      0.25rem 0.25rem 0 0 var(--button-shadow-quaternary-disabled);
    border: var(--stroke-border-75) var(--button-border-quaternary-disabled)
      solid;
  }
}
