.button {
  color: var(--color-button-text-normal-default);
  background-color: var(--color-button-bg-normal-default);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-100);
  width: fit-content;
  padding: var(--space-600) var(--space-800);
  border-radius: var(--radius-100);
  font-family: var(--font-cal-sans);
  line-height: 1.15;
  text-box: trim-both cap alphabetic;
  transition: 125ms ease;
  transition-property: color, background-color, box-shadow;

  &:hover {
    background-color: var(--color-button-bg-normal-hover);
  }

  &.danger {
    color: var(--color-button-text-danger-default);
    background-color: var(--color-button-bg-danger-default);

    &:hover {
      color: var(--color-button-text-danger-hover);
      background-color: var(--color-button-bg-danger-hover);
    }
  }

  &.positive {
    color: var(--color-button-text-positive-default);
    background-color: var(--color-button-bg-positive-default);

    &:hover {
      color: var(--color-button-text-positive-hover);
      background-color: var(--color-button-bg-positive-hover);
    }
  }

  &.outlined {
    color: var(--color-button-text-outlined-default);
    background-color: var(--color-button-bg-outlined-default);
    border: 0.125rem solid var(--color-button-shadow-outlined-default); /* TODO il faut un token pour le 0.125rem */
    box-shadow: var(--size-button-shadow-outlined-default) var(--size-button-shadow-outlined-default) var(--color-button-shadow-outlined-default);

    &:hover {
      box-shadow: var(--size-button-shadow-outlined-hover) var(--size-button-shadow-outlined-hover) var(--color-button-shadow-outlined-default);
    }
  }

  &.disabled {
    color: var(--color-button-text-disabled-default);
    background-color: var(--color-button-bg-disabled-default);
    cursor: not-allowed;
  }
}
