.hero {
  height: 100lvh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-800);
  background-color: var(--white-1000);

  & > div {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    max-width: 768px;
    background-color: var(--view-bg);
    padding: var(--space-1200);
    border-radius: var(--radius-400);
  }
}

.headings {
  display: grid;
  height: fit-content;
  gap: var(--space-1200);

  h1 {
    font-size: var(--scale-07);
  }

  .buttons {
    display: flex;
    gap: var(--space-600);
  }
}
