.contact {
  height: calc(100svh - 48px);
  display: flex;
  flex-direction: column;
  align-items: center;

  nav {
    display: grid;
    gap: var(--space-200);
  }
}

.contactContent {
  max-width: 56.25rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-1200);
}
