.inputContainer {
  width: 100%;
  display: grid;
  gap: var(--space-400);
}

.input {
  color: var(--blue-900);
  background-color: var(--input-field-bg-default);
  border: var(--input-field-border-default) solid var(--stroke-border-50);
  border-radius: var(--radius-200);
  padding: var(--space-300) var(--space-400);
  width: 100%;
}

.label {
  color: var(--input-field-label-default);
  font-size: var(--body-size-small);
  font-weight: var(--body-font-weight-strong);
  font-size: var(--scale-03);
}
