.blocTextarea {
  display: grid;
  gap: var(--space-200);
}

.textarea {
  color: var(--input-field-contrast-default);
  background-color: var(--input-field-bg-default);
  border: var(--input-field-border-default) var(--stroke-border-50) solid;
  border-radius: var(--radius-200);
  padding: var(--space-300) var(--space-400);
  min-height: 6.25rem;
  min-width: 18.75rem;
  max-width: 53.125rem;
}

.label {
  color: var(--input-field-contrast-default);
  font-family: var(--font-gotham);
  font-size: var(--body-size-medium);
  font-weight: var(--weight-medium);
}

.textarea:focus {
  outline: 2px solid var(--blue-600);
  outline-offset: 2px;
}

.errorMessage {
  color: var(--red-600);
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.error {
  border: 2px solid #d32f2f;
}
