#root {
  display: flex;
  flex-direction: column;
  min-height: 100svh;

  main:has(.fillHeight) {
    z-index: 0;
    flex-grow: 1;
    display: grid;
  }

  > header {
    display: flex;
    justify-content: flex-end;
    padding: var(--space-400) var(--space-800);
  }

  > footer {
    display: grid;
    place-items: center;
    margin-bottom: var(--space-800);

    nav {
      display: flex;
      gap: var(--space-600);
    }
  }
}
