#root {
  display: flex;
  flex-direction: column;
  min-height: 100svh;

  main:has(.fillHeight) {
    flex-grow: 1;
    display: grid;
  }

  > footer {
    display: grid;
    place-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;

    nav {
      display: flex;
      gap: var(--space-200);
    }
  }
}
