#root {
  display: flex;
  flex-direction: column;
  min-height: 100svh;

  main:has(.fillHeight) {
    flex-grow: 1;
    display: grid;
  }

  > footer {
    display: grid;
    place-items: center;
    margin-bottom: var(--space-800);

    nav {
      display: flex;
      gap: var(--space-200);
    }
  }
}
