.blocDeck {
  background-color: var(--yellow-200);
  padding: var(--space-400) var(--space-800) var(--space-200) var(--space-800);
  display: flex;
  flex-direction: column;
  gap: var(--space-400);
}

.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: var(--space-400);
  grid-row-gap: var(--space-200);
}

.content > * {
  display: flex;
  align-items: center;
}

.explanation {
  max-width: 240px;
  display: flex;
  flex-direction: column;
  gap: var(--space-200);
  padding: var(--space-600) var(--space-300);
}

.explanation > p:first-child {
  font-weight: var(--heading-font-weight);
  font-size: var(--heading-size-small);
}

.btnContainer {
  width: fit-content;
  align-self: flex-end;
}

.closeBtn {
  color: var(--pink-700);
  font-weight: var(--heading-font-weight);
  font-size: var(--heading-size-small);
}
