.deck {
  background-color: var(--blue-200);
  position: absolute;
  z-index: 1;
  inset: 0;
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  gap: var(--space-800);
  padding: var(--space-800) var(--space-1200);
}

.deckContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-1200);
}

.cardsToDrawContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-600);
}

.legend {
  font-weight: var(--body-font-weight-strong);
  padding-bottom: var(--space-600);
}

.extremeUsers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: var(--space-600);
}

.bottomContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.bottomContainer > button {
  max-width: 15.625rem;
  height: min-content;
}

.cardsImg {
  max-width: 33.125rem;
}
